/.bundle
/db/.sqlite3
/db/.sqlite3-*
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

/public/assets
/config/master.key

/app/assets/builds/*
!/app/assets/builds/.keep

.rbc
.swp
capybara-.html
/log
/tmp
/db/.sqlite3
/public/system
/public/spree
/coverage/
/spec/tmp
**.orig
rerun.txt
pickle-email-*.html
.idea
.pt
.ruby-gemset
debug
/spree
/public/assets
.sass-cache
**/.DS_Store
/storage
config/credentials.yml.enc
/config/.key
/config/.crt
config/secrets.yml

/.bundle
/vendor/bundle
.rvmrc

node_modules/*
public/sitemap*
npm-debug.log
npm-debug.log*
node_modules
/app/assets/webpack/
/public/packs
/public/packs-test
/node_modules
yarn-debug.log*
.yarn-integrity
/yarn-error.log
/app/assets/builds/*
!/app/assets/builds/.keep
.env